<div class="container">
       <div class="row">
         <div id="acct-password-row" class="span5">
           <fieldset>
             <legend>Cadastro de Fornecedor</legend><br>
				<%= render 'form', fornecedor: @fornecedor %>
			</fieldset>
		</div>
	</div>
</div>	
