<div class="container">
       <div class="row">
         <div id="acct-password-row" class="span5">
           <fieldset>
             <legend>Cadastro de Peças</legend><br>
				<%= render 'form', peca: @peca %>
				<%= link_to 'Novo Fonecedor', new_fornecedor_path, class:"btn btn-default" %>

			</fieldset>

		</div>
	  </div>
   </div>

