<!DOCTYPE html>
<html>
  <head>
    <title>Unity System</title>
            <meta charset="UTF-8"/>

    <%= csrf_meta_tags %>

    <%= Wicked_pdf_stylesheet_link_tag "style" %>
    <%= Wicked_pdf_javascript_include_tag "application"%>

     <style>
        #body-content { padding-top: 0px;}
    </style>
  </head>

  <body>
  <h1>kkkkkkkkkkkkkkkk</h1>

  <%= yield %>

  </body>

</html>
